{:linters {:single-key-in {:level :warning}
           :shadowed-var {:level :warning}
           :refer-all {:exclude [clojure.test]}
           :consistent-alias {:aliases {clojure.string str}}
           :unresolved-symbol {:exclude [(clojure.test/is [match?])
                                         (linkboard.test-utils/with-chrome [driver])]}}}
