{:linkboard.core.db/db {:jdbc-url #profile {:default "jdbc:sqlite:db/linkboard.sqlite"
                                            :test "jdbc:sqlite::memory:"}}

 :linkboard.core.sentry/sentry {:dsn #or [#env SENTRY_DSN nil]}

 :linkboard.core.server/server {:options {:port #profile {:default 8000
                                                          :prod 80
                                                          :test #free-port true}
                                          :session-secret-key #profile {:default "test-secret-key"
                                                                        :prod #env SESSION_SECRET_KEY}
                                          :env #profile {:default :dev
                                                         :prod :prod
                                                         :test :test}
                                          :openrouter-api-key #or [#env OPENROUTER_API_KEY nil]
                                          :cookie-attrs-secure? #profile {:default false
                                                                          :prod true}
                                          :auto-reload? #profile {:default false
                                                                  :dev true}
                                          :cache-assets? #profile {:default false
                                                                   :prod true}}
                                :sentry #ig/ref :linkboard.core.sentry/sentry
                                :db #ig/ref :linkboard.core.db/db}}
