; TODO: maybe rename file to config.edn
{:linkboard.db/db {:jdbc-url #profile {:default "jdbc:sqlite:db.sqlite"
                                       :test "jdbc:sqlite::memory:"}}

 :linkboard.server/server {:options {:port #profile {:default 8000
                                                     :prod 80
                                                     :test #free-port true}
                                     :session-secret-key #profile {:default "test-secret-key"
                                                                   :prod #env SESSION_SECRET_KEY}
                                     :auto-reload? #profile {:default false
                                                             :dev true}
                                     :cache-assets? #profile {:default false
                                                              :prod true}}
                           :db #ig/ref :linkboard.db/db}}
