@import 'tailwindcss' source("../../../src");

@theme {
  --color-primary-50: #fbf7fd;
  --color-primary-500: #c792e9;
  --color-primary-600: #b36ede;
  --color-primary-700: #a04fce;
}

.htmx-indicator{
    display:none;
}
.htmx-request .htmx-indicator{
    display:inline;
}
.htmx-request.htmx-indicator{
    display:inline;
}
